@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
}

body
{
    margin: 0;
    padding: 0;
    background: url(images/newbackground.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Första sidan (Min box) */
.box
{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    color: white;

}
.box-img
{
    border-radius: 50%;
    width: 150px;
    height: 150px;

}
.box h1
{
    font-size: 40px;
    font-weight: 100;
    font-family: 'Share Tech Mono', monospace;

}
.box h2
{
    font-size: 14px;
    letter-spacing: 7px;
    font-weight: 100;
    position: relative;
    bottom: 8px;
    font-family: 'Share Tech Mono', monospace;

}
.box h3
{
    font-family: 'Share Tech Mono', monospace;
    position: relative;
    top: 10px;
}
.box p
{
    text-align: justify;
    font-family: 'Share Tech Mono', monospace;
    position: relative;
    top: 10px;

}
first-ul
{
    margin: 0;
    padding: 0;
}
.box li
{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a 
{
    color:white;
    text-decoration: none;
    font-size: 40px;
    position: relative;
    top: 30px;
    transition: all ease-in-out 250ms;
}
.box li a:hover
{
    color: #b9b9b9;
}
/* Första sidan (Min box) */



/* Navigationsbar / Meny */
nav
{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 80px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.4);
}

.logo
{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
}

.logo img
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.logo span
{
    font-weight: bold;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

nav a
{
    position: relative;
    color: white;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

.fas
{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item
{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover
{
    background: rgba(0, 0, 0, 0.4);
}
nav:hover
{
    width: 300px;
    transition: all 0.5 ease;
}

.box2
{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    color: white;

}

.box2-img
{
    position: absolute;
    opacity: 35%;
    height: 80%;
    width: auto;
    
    
}
.box2 h1
{
    font-size: 23px;
    font-weight: 100;
    font-family: 'Share Tech Mono', monospace;
    position: relative;
    bottom: 30px;

}
.box2 p
{
    text-align: justify;
    font-family: 'Share Tech Mono', monospace;
    position: relative;
    bottom: 1px;

}
/* Navigationsbar / Meny */



/*--Kontaktformen för sidan Kontakt--*/

.contact-section
{
    background: url(/images/newbackground.jpg) no-repeat center;
    background-size: cover;
    padding: 40px 0;
}
.contact-section h1
{
    text-align: center;
    color: #ddd;

}

.border
{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
}

.contact-form
{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text
{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus
{
    box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text
{
    resize: none;
    height: 120px;
}

.contact-form-btn
{
    float: right;
    border: 0;
    background: cornflowerblue;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.contact-form-btn:hover
{
    background: #2980b9;
}

.contact-section img
{
    position: absolute;
    right: 40%;
    top: 30%;
    opacity: 35%;
    height: 80%;
    width: auto;
}

/*--Kontaktformen för sidan Kontakt--*/



/* Mitt schema (Min tabell) */

.myschedule
{
    position: relative;
    left: 30%;
    top: 200px;
}

.myschedule h3
{
    color: white;
    position: relative;
    left: 300px;
    bottom: 5px;

}

/* Mitt schema (Min tabell) */



/* Mitt spel */

#poäng
{
    text-align: center;
    color: white;
}

#spel
{
    width: 600px;
    height: 300px;
    border: 2px solid lightgrey;
    margin: auto;
    background-image: url(https://i.pinimg.com/originals/7e/7e/0d/7e7e0d447356c0e74ef9ce10b3e5a199.jpg);
    background-size: cover;
    position: relative;
    top: 200px;
    left: 60px;
}

#vader
{
    height: 75px;
    width: 75px;
    position: relative;
    top: 225px;
    background-image: url(images/vader.png);
    background-size: cover;
}

#sten
{
    height: 50px;
    width: 50px;
    position: relative;
    top: 174px;
    left: 548px;
    background-image: url(http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/da268f06e621b21.png);
    background-size: cover;
    animation: sten 1.33s infinite;
}

@keyframes sten
{
    0%{left: 550px;}
    100%{left: -50px;}
}

.jump-animation
{
    animation: jump 0.5s;
}

@keyframes jump
{
    0%{top: 225px;}
    50%{top: 75px;}
    75%{top: 75px;}
    100%{top: 225px;}
}

.poäng h1 id
{
    color: white;
}
/* Mitt spel */


/* Mitt CV */
.mittCv img
{
    position: absolute;
    height: 95%;
    width: auto;
    left: 30%;

}